# Python caches
__pycache__
.mypy_cache

# Python files
.python-version
.venv

# Other
*.pdf

# Project
vllm-0.10.1.zip
moulinette_pkg/
moulinette.zip
moulinette/
.nfs0000000005c805ee000002b3
data/processed/
data/raw/
